@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the APCV 405 Project App!</h1>
    <p>If you can see this page, the application is running successfully.</p>
</div>
